<div class="row d-flex justify-content-center">
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/user/dashboard" class="btn btn-info w-full">Tablero</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/user/update-profile" class="btn btn-info w-full">Actualizar Perfil</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/user/change-password" class="btn btn-info w-full">Cambiar Contraseña</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/user/logout" class="btn btn-danger w-full">Cerrar Sesión</a>
    </div>
</div>
